body {
    font-family: Arial, sans-serif;
    background-color: #ededed;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 23vw;
    height: calc(23vw * (16 / 9));
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.topnav {
    position: relative;
    background-color: #afc5a7;
    overflow: hidden;
}

.topnav a {
    height: 4ch;
    line-height: 4ch;
    text-align: center;

    float: left;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #c2cfbd;
    color: black;
}

.topnav-right {
    float: right;
}

button {
    background-color: #ededed;
    padding: 0.2rem;
}

.container-sub-box {
    background-color: #f3f3f3;
    padding: 0.3rem 1rem;
    margin: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
